<section class="footer">
    <section class="footer__top">
      <p class="footer__title">Shop for your fashion needs today</p>
      <div class="footer__button"><a href="/api/product">Explore Our Collections</a></div>
    </section>
    <section class="footer__bottom">
      <div class="footer__bottom--left">
        <h3 class="footer__bottom--title">Zeam Fashion Empire</h3>
        <div class="contacts">
          <h2>Contact Us</h2>
          <p>+234-706-642-8889</p>
          <p><a href="mailto:horler.web@gmail.com">horler.web@gmail.com</a></p>
        </div>
      </div>
      <div class="footer__bottom--right">
        <div class="footer__bottom--items">
          <h4 class="footer__bottom--head">Features</h4>
          <p>Monitoring</p>
          <p>Broadcasts</p>
          <p>Analysis</p>
        </div>
        <div class="footer__bottom--items">
          <h4 class="footer__bottom--head">Social</h4>
          <p>Bing</p>
          <p>Developers</p>
          <p>Bloggers</p>
        </div>
        <div class="footer__bottom--items">
          <h4 class="footer__bottom--head">Company</h4>
          <p>About</p>
          <p>Our Mission</p>
          <p>Owners</p>
          <p>Content</p>
        </div>
        <div class="footer__bottom--items">
          <ul class="social-icons">
            <li>
              <a href="https://www.facebook.com">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://codepen.io.com/">
                <i class="fab fa-codepen"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copy-right">&copy;copyright <a href="https://github.com/horler408">HorlerTech </a>2020. All right reserved</div>
    </section>
  </section>