<%- include('partials/header'); -%>

<div class="wrapper">
    <div><%= typeof msg != 'undefined' ? msg : ''  %></div>
    <h1>Gallery Page</h1>
    <div><%= typeof file != 'undefined' ? file : ''  %></div>
    <img src="" alt="">
</div>

<%- include('partials/footer'); -%>