<%- include('partials/header'); -%>

<div class="wrapper">
    <div><%= typeof msg != 'undefined' ? msg : ''  %></div>
    <h1>Gallery Page</h1>
    <img src="<%= typeof files != 'undefined' ? files : ''  %>" alt="Uploaded">
</div>

<%- include('partials/footer'); -%>