<%- include('partials/header'); -%>
    <div class="index_container">
        <%- include("partials/messages"); -%>
        <div class="main">
            <h2 data-text="ZeamFashionWorld">ZeeamFashionWorld</h2>
        </div>
    </div>
<%- include('partials/footer'); -%>