<%- include('partials/header'); -%>
<div class="home_container">
    <div class="home_card">
        <%- include('partials/messages'); -%>
        <div class="alert_success"><%= typeof msg != 'undefined' ? msg : '' %></div>
        <h1>New Inventory</h1>
        <form action="/api/product" method="POST" enctype="multipart/form-data">
            <div class="product_name">
                <label for="title">Product Name<span class="red_info"> *</span></label>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="description">
                <label for="description">Description<span class="red_info"> *</span></label>
                <textarea name="description" id="description" cols="30" rows="5" required>
                </textarea>
            </div>

            <div class="category">
                <select name="category" id="category">
                    <option value="">Choose category</option>
                    <option value="fabrics">Fabrics</option>
                    <option value="clothes">clothes</option>
                    <option value="bed-sheet">bedsheets</option>
                    <option value="bags">Bags</option>
                    <option value="shoes">Shoes</option>
                    <option value="ornaments">Ornaments</option>
                    <option value="accessories">Accessories</option>
                </select>
            </div>

            <div class="price_form">
                <label for="price">Price<span class="red_info"> *</span></label>
                <input type="text" id="price" name="price" required>
            </div>

            <div class="product_image">
                <label for="image">Image Upload</label>
                <input type="file" id="image" name="imageUrl" required>
            </div>
            <button class="home-btn" type="submit">Submit</button>
        </form>
    </div>
    
</div>
<%- include('partials/footer'); -%>